%h1 Listing warehouses

%table.table
  %tr
    %th Name
    %th Width
    %th Length
    %th
    %th

  - @floors.each do |floor|
    %tr
      %td= link_to floor.name, floor
      %td= floor.width
      %td= floor.length
      %td= link_to 'Edit', edit_floor_path(floor)
      %td= link_to 'Destroy', floor, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New warehouse', new_floor_path
