%h2= @floor.name

:sass
  .floor-schema
    width: #{@floor.width * mult}px
    height: #{@floor.length * mult}px


.floor-schema
  - @floor.rooms.each_with_index do |room, i|
    = render room, i: i


.buffer-40
%h3 Build escape route

= form_tag '/escape_route', method: :get, class: 'form-horizontal', remote: true, id: 'route-form' do
  .row
    .col-md-3
      %label.control-label From
      = select_tag "from", options_from_collection_for_select(@floor.rooms.order(:id), "id", "to_s", selected: 2), class: 'form-control'
    .col-md-3
      %label.control-label To
      = select_tag "to", options_from_collection_for_select(@floor.rooms.order(:id), "id", "to_s", selected: 3), class: 'form-control'

  = submit_tag 'FIRE! Build escape route immediately!', class: 'btn btn-danger btn-lg start-fire-button buffer-20'

  .route-container

