.row
  .col-md-6
    = simple_form_for @room do |f|
      = f.association :floor
      = f.input :width
      = f.input :length
      = f.input :top
      = f.input :left

      .buffer-20
      = f.button :submit
