:sass
  ##{"room-" + room.id.to_s}
    width: #{room.width * mult}px
    height: #{room.length * mult}px
    top: #{room.top * mult}px
    left: #{room.left * mult}px

.room-container{id: "room-#{room.id}", class: room_bg_class(room)}
  %h5.room-id= "Room-#{room.id}"
  %a.glyphicon.glyphicon-cog{href: '#'}
  .containers
    - room.containers_count.times do
      .container-icon.glyphicon{class: container_glyphicon_class(room)}

  .door.door-left{class: ('hidden' unless room.has_left_door?)}
  .door.door-right{class: ('hidden' unless room.has_right_door?)}
  .door.door-top{class: ('hidden' unless room.has_top_door?)}
  .door.door-bottom{class: ('hidden' unless room.has_bottom_door?)}

  .modal.fade(tabindex="-1")
    .modal-dialog.modal-lg
      .modal-content
        .modal-body
          .row
            .col-md-6
              = simple_form_for room do |f|
                = f.input :containers_type, as: :select, collection: %w(safe little fire explosive), include_blank: false, label: 'Containers danger class'

                = f.input :containers_count

                .buffer-20
                = f.button :submit