%h1 Listing rooms

%table.table
  %tr
    %th Name
    %th Floor
    %th Width
    %th Length
    %th Top
    %th Left
    -# %th
    %th
    %th

  - @rooms.each do |room|
    %tr
      %td= room.to_s
      %td= link_to room.floor.name, room.floor
      %td= room.width
      %td= room.length
      %td= room.top
      %td= room.left
      %td
        = link_to room_doors_path(room) do
          = "Doors (#{room.doors.count})"
      %td= link_to 'Edit', edit_room_path(room)
      %td= link_to 'Destroy', room, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Room', new_room_path
