%p#notice= notice

%p
  %b Floor:
  = @room.floor.name
%p
  %b Width:
  = @room.width
%p
  %b Length:
  = @room.length
%p
  %b Top:
  = @room.top

= link_to 'Edit', edit_room_path(@room)
\|
= link_to 'Back', rooms_path
