@import "bootstrap-sprockets"
@import "bootstrap"

// helper classes
.buffer-20
  margin-top: 20px

.buffer-40
  margin-top: 40px


.floor-schema
  border: 1px solid #ccc
  position: relative

.room-container
  position: absolute
  border: 1px solid #666
  padding: 10px 30px 10px 10px
  .container-icon
    font-size: 18px
  .glyphicon-cog
    position: absolute
    right: 10px
    top: 10px
    opacity: 0
    transition: opacity 0.3s ease
    &:hover
      text-decoration: none
  &:hover
    .glyphicon-cog
      opacity: 1
  .room-id
    margin: 0 0 5px


  $door_width: 6px
  $door_length: 40px
  $door_margin: 20px
  $door_border_margin: -4px

  .door
    position: absolute
    background: #000
    z-index: 1
  .door-left, .door-right
    width: $door_width
    height: $door_length
    top: $door_margin
  .door-top, .door-bottom
    width: $door_length
    height: $door_width
    left: $door_margin
  .door-left
    left: $door_border_margin
  .door-right
    right: $door_border_margin
  .door-top
    top: $door_border_margin
  .door-bottom
    bottom: $door_border_margin
