.row
  .col-md-4
    = simple_form_for [@room, @door] do |f|
      = f.input :room_id, as: :hidden

      = f.association :with, collection: @room.floor.rooms.where("id <> #{@room.id}").order(:id)

      = f.input :position, as: :select, collection: %w(top left right bottom), include_blank: false

      = f.input :left

      = f.input :top

      .buffer-20
      = f.button :submit
