%h1 Listing doors

- if @room.neighbours.present?
  %p= "Has doors with rooms #{@room.neighbours.map(&:id).join(', ')}."

%table.table
  %tr
    %th Position
    %th
    %th

  - @doors.each do |door|
    %tr
      %td= door.position
      %td= link_to 'Edit', edit_room_door_path(@room, door)
      %td= link_to 'Destroy', [@room, door], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Door', new_room_door_path(@room)
