%nav.navbar.navbar-default{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Меню
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Fire danger analyzer', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        = menu_link :floors, floors_path
        = menu_link :rooms, rooms_path
