!!!
%html{lang: 'en'}
  %head
    :plain
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    %title Floors

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'

  %body
    = render 'layouts/nav'
    .container
      = render 'layouts/messages'
      = yield

